$font-default: "Poppins", sans-serif;
$title-color: #3442b5;
$title-bold-color: #3019b2;
$secondary-color: #271c47;
$subtitle-color: #9f9f9f;
$primary-btn-color: #f7ca11;
$secondary-btn-color: #3442b5;
$white-color: #ffffff;
$text-color: #271c47;
$input-color: #f6f5f2;
